<?php
// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
    <div class="box-tocart">
        <div class="fieldset">
            <?php if ($block->shouldRenderQuantity()): ?>
                <div class="field qty">
                    <label class="label" for="qty"><span><?php /* @escapeNotVerified */echo __('Qty'); ?></span></label>
                    <div class="control">

<div class="qty-changer qty-less">-</div>
    <input type="number"
           name="qty"
           id="qty"
           value="<?=/* @escapeNotVerified */$block->getProductDefaultQty() * 1; ?>"
           title="<?=/* @escapeNotVerified */__('Qty'); ?>"
           class="input-text qty"
           data-validate="<?=$block->escapeHtml(json_encode($block->getQuantityValidators())); ?>"
           />
           <div class="qty-changer qty-more">+</div>
</div>
                </div>
            <?php endif; ?>
            <div class="actions">
                <button type="submit"
                        title="<?php /* @escapeNotVerified */echo $buttonTitle; ?>"
                        class="action primary tocart"
                        id="product-addtocart-button">
                    <span><?php /* @escapeNotVerified */echo $buttonTitle; ?></span>
                </button>
                <?php echo $block->getChildHtml('', true); ?>
            </div>


        </div>
    </div>

<?php endif; ?>
<?php if ($block->isRedirectToCartEnabled()): ?>
    <script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php else: ?>
    <script>
        require([
            'jquery',
            'mage/mage',
            'Magento_Catalog/product/view/validation',
            'Magento_Catalog/js/catalog-add-to-cart'
        ], function ($) {
            'use strict';

            $('#product_addtocart_form').mage('validation', {
                radioCheckboxClosest: '.nested',
                submitHandler: function (form) {
                    var widget = $(form).catalogAddToCart({
                        bindSubmit: false
                    });

                    widget.catalogAddToCart('submitForm', $(form));

                    return false;
                }
            });
            
        });
    </script>
<?php endif; ?>